html {
  font-size: 62.5%;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #748ffc, #4dabf7);
}

.wrapper {
  background: #fff;
  width: 40rem;
  border-radius: 11px;
}

header {
  font-size: 2.2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom right, #748ffc, #4dabf7);
  font-weight: 500;
  padding: 1.6rem 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bfbfbf;
}

header i {
  cursor: pointer;
  font-size: 0rem;
  margin-right: 0.8rem;
}

.wrapper.active header i {
  font-size: 3rem;
  margin-left: 0.5rem;
}

.input-part {
  margin: 2rem 2.5rem 3rem;
  /* display: none; */
}

.wrapper.active .input-part {
  display: none;
}

.input-part :where(input, button) {
  width: 100%;
  height: 5.5rem;
  border: none;
  outline: none;
  border-radius: 11px;
}

.info-text {
  display: none;
  font-size: 1.7rem;
  text-align: center;
  padding: 1.2rem 1rem;
  border-radius: 11px;
  margin-bottom: 1.5rem;
}

.info-text-error {
  display: block;
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

.info-text-pending {
  display: block !important;
  color: #0c5460;
  background: #d1ecf1;
  border: 1px solid #bee5eb;
}

input {
  text-align: center;
  border: 1px solid #bfbfbf !important;
}

.separator {
  width: 100%;
  height: 1px;
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
  color: #ccc;
  background: #ccc;
  align-items: center;
}

.separator::before {
  content: "or";
  font-size: 1.9rem;
  background: #fff;
  padding: 0 1.5rem;
}

button {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #748ffc, #4dabf7);
  transition: all 300ms;
  color: #fff;
}

.input-part input:is(:focus, :valid) {
  border: 2px solid #43affc !important;
}

.weather-part {
  margin: 3rem 0 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper.active .weather-part {
  display: flex;
}

img {
  max-width: 12.5rem;
}

.temp {
  display: flex;
  font-weight: 500;
  font-size: 7.2rem;
}

.numb {
  font-weight: 600;
}

.deg {
  font-size: 4rem;
  margin: 1rem 0.5rem 0 0;
  display: block;
}

.weather {
  font-size: 2.1rem;
  text-align: center;
  margin: -0.5rem 2rem 1.5rem;
}

.location {
  display: flex;
  align-items: center;
  font-size: 2.1rem;
  margin-bottom: 3rem;
}

.location i {
  font-size: 2.2rem;
  margin-right: 0.5rem;
}

.bottom-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #b6b6b6;
}

.column {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

.column i {
  background-image: linear-gradient(to bottom right, #748ffc, #4dabf7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 4rem;
}

.column.humidity {
  border-left: 1px solid #bfbfbf;
}

.details .temp,
.humidity span {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: -3px;
}

.details .temp .deg {
  margin: 0;
  font-size: 1.7rem;
  pad: 0 2px 0 1px;
}

.details p {
  font-size: 1.4rem;
  margin-top: -0.6rem;
}
button:hover {
  background-image: linear-gradient(to bottom right, #3960fd, #1e96f8);
}
